@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}

.main-page-background{
  -webkit-transition:color 1s ease;
  -moz-transition:color 1s ease;
  -o-transition:color 1s ease;
  transition:color 1s ease;
  min-height: 100vh;
}
.btn-easy{
  width: 200px;
  background-color: #77BD8B !important;
  border-radius: 40px;
  border: none !important;
  height: 60px;
  padding: 30px 30px;
  font-size: 24px !important;
}
.btn-hard{
  width: 200px;
  background-color: #BC0022 !important;
  border-radius: 40px;
  border: none !important;
  height: 60px;
  padding: 30px 30px;
  font-size: 24px !important;
}
.btn-reset{
  width: 200px;
  background-color: #004156 !important;
  border-radius: 50px;
  display: inline-block;
  border: none !important;
  height: 50px;
  margin-left: 50px;
  font-size: 24px !important;
}
.css-16j8fy0{
  margin-left: 190px;
  margin-top: 50px; 
}
